* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#67a9f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
  background-image: url("./assets/nba.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
  
}

.player-card {
  height: 400px;
  background-color: #67a9f4;;
  & img {
    filter:blur(3px);
    transition: transform 0.3s;
  }
  &:hover {
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
    & img {
      transform:scale(0.9);
      filter: none;
    }
  }
}